@font-face
{
 font-family: vazir-thin;
  
 src: url('../fonts/Vazirmatn-Thin.woff2') format('woff2');
 font-weight: 100;
 font-style: normal;
}


@font-face
{
 font-family: vazir-ExtraLight;
  
 src: url('../fonts/Vazirmatn-ExtraLight.woff2') format('woff2');
 font-weight: 200;
 font-style: normal;
}


@font-face
{
 font-family: vazir-Light;
  
 src: url('../fonts/Vazirmatn-Light.woff2') format('woff2');
 font-weight: 300;
 font-style: normal;
}


@font-face
{
 font-family: vazir-Regular;
  
 src: url('../fonts/Vazirmatn-Regular.woff2') format('woff2');
 font-weight: 400;
 font-style: normal;
}


@font-face
{
 font-family: vazir-Medium;
  
 src: url('../fonts/Vazirmatn-Medium.woff2') format('woff2');
 font-weight: 500;
 font-style: normal;
}


@font-face
{
 font-family: vazir-SemiBold;
  
 src: url('../fonts/Vazirmatn-SemiBold.woff2') format('woff2');
 font-weight: 600;
 font-style: normal;
}


@font-face
{
 font-family: vazir-Bold;
  
 src: url('../fonts/Vazirmatn-Bold.woff2') format('woff2');
 font-weight: 700;
 font-style: normal;
}


@font-face
{
 font-family: vazir-ExtraBold;
  
 src: url('../fonts/Vazirmatn-ExtraBold.woff2') format('woff2');
 font-weight: 800;
 font-style: normal;
}

@font-face
{
 font-family: vazir-Black;
  
 src: url('../fonts/Vazirmatn-Black.woff2') format('woff2');
 font-weight: 900;
 font-style: normal;
}

@font-face
{
 font-family: PoetsenOne-Regular;
 src: url('../fonts/PoetsenOne-Regular.ttf') format('truetype');
 font-weight: 400;
 font-style: normal;
}


.session-alert{
    color: #e3e3e3;
    background-color: #6f798ea3;
    text-align: center;
    position: relative;
    z-index: 100000;
    top: 20px;
    width: 33%;
    margin: 0 auto;
    min-height: 39px;
    border-radius: 12px;
    padding: 10px;
}

.suceess-color{
    background-color: #47b647d7;
}
.lose-color{
    background-color: #cc3737d7;
}








